{% paginate search.results by 4 %}
  {% if search.performed %}
    {% if search.results.size > 0 %}
      <div class="search-results">
        <h1>Here's your results</h1>

        {% for result in search.results %}
          <div class="result-item">
            <a href="{{ result.url }}">
              <h2>{{ result.title }}</h2>
              <img src="{{ result.featured_image | image_url : width: 200 }}" alt="{{ result.title }}">
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="no-results">
        <h2>Sorry, No products found.</h2>
        <h2>Try searching for something else.</h2>
      </div>
    {% endif %}
  {% else %}
    <div class="no-results">
      <h1>Try searching for something</h1>
    </div>
  {% endif %}

  <div class="pagination">
    {{ paginate | default_pagination }}
  </div>
{% endpaginate %}
