<html>
  <head>
    {{ content_for_header }}
    <title>
      {{ shop.name }}
      -
      {{ page_title }}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ 'styles.css' | asset_url }}">
  </head>
  <body>
    {% include 'header' %}
    {{ content_for_layout }}
    {% include 'footer' %}
  </body>
</html>
